@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@layer theme, base, primevue;

@import "tailwindcss";
@import "tailwindcss-primeui";

/* Optional: If you want to use PrimeVue's design tokens as Tailwind variables */
@theme {
  --color-primary: var(--p-primary-color);
  --color-primary-contrast: var(--p-primary-contrast-color);
  --font-sans: "League Spartan", ui-sans-serif, system-ui, sans-serif;
}

html {
  font-size: clamp(16px, 1rem + 0.4vw, 22px);
}

body {
  font-family: var(--font-sans);
}
